<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>fill the details</h1>
    <form action="" method="POST">
        {% csrf_token %}
        
        <label for="">Enter the name:</label>
        <input type="text" name="name"><br>
        <label for="">Enter the mob:</label>
        <input type="tel" name="mob"><br>
        <label for="">enter the age:</label>
        <input type="number" name="age">
        <input type="submit">


        <!-- <label for="name">Enter the name:</label>
        <input type="text" name="name" id="name"><br>

        <label for="mob">Enter the mob:</label>
        <input type="tel" name="mob" id="mob"><br>

        <label for="age">Enter the age:</label>
        <input type="number" name="age" id="age"><br>

        <label for="email">Enter the email:</label>
        <input type="email" name="email" id="email"><br>

        <label for="password">Enter the password:</label>
        <input type="password" name="password" id="password"><br>

        <label for="gender">Enter the gender:</label>
        <input type="radio" value="male" id="gender">male
        <input type="radio" name="female" id="gender">female<br>

        <button>submit</button> -->

    </form>
    
</body>
</html>